<h2 style="text-align:center">About me</h2>
<div class="profile-card">
    <img src="{{userProfile.image}}" alt="user image" style="width:100%">
    <h1>{{userProfile.displayName}}</h1>
    <p class="profile-title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div>
        <a id="profile-a" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a id="profile-a" href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a>
        <a id="profile-a" href="#"><i class=" fa fa-instagram" aria-hidden="true"></i></a>
        <a id="profile-a" href="#"><i class="fa fa-code" aria-hidden="true"></i></a>
    </div>
    <p><button class="profile-button">Contact</button></p>
</div>