<h2 style="text-align:center">Your profile</h2>
<div class="profile-card">
    <img src="{{userProfile.image}}" alt="user image" style="width:100%">
    <h1>{{userProfile.displayName}}</h1>
    <p class="profile-title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0;">
        <a id="profile-a" href="#"><i class="fa fa-dribbble"></i></a>
        <a id="profile-a" href="#"><i class="fa fa-twitter"></i></a>
        <a id="profile-a" href="#"><i class="fa fa-linkedin"></i></a>
        <a id="profile-a" href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <p><button class="profile-button">Contact</button></p>
</div>