<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center"><i class="fas fa-book-reader"></i>Storify</a>
        <ul id="nav-mobile" class="right hide-on-med-down ">
            {{../user}}
            <li>
                <a href="#!" style="padding: 0 3em;"><i class="fas fa-search " aria-hidden="true"></i></a>
            </li>
            <li id="tooltipped" data-position="top" data-tooltip="Notifications">
                <a href="#!" style="padding: 0 3em;"><i class="fas fa-bell " aria-hidden="true"></i></a>
            </li>
            {{!-- {{#passUserData displayName}} --}}
            <li id="tooltipped" data-position="top" data-tooltip={{ passUserData displayName }}>
                <a href="#!" style="padding:0 3em;"><i class="fas fa-user " aria-hidden="true"></i></a>
            </li>
            {{!-- {{/passUserData}} --}}

        </ul>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large left"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Public stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">LogOut</a></li>

        </ul>
    </div>
</nav>