* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #e9ecef;
}
p {
	margin: 10px 0 !important;
}
.login-container {
	width: 400px !important;
	margin-top: 50px !important;
	text-align: center !important;
}
